<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <div class = "container">
        <div class = "sidebar">
            <h1>ToDo List</h1>
           
            <div class="project-heading-wrap">
                <h2>Projects</h2>
                <input type="image" src="<%= require('./plus.svg') %>" class="filter-white new-project-button"/>
            </div>
            <div class="projects">
                <button name="Misc" class="projectButton">Misc</button>
                
            </div>
            
        </div>
        <div class= "content">
            <input type="image" src="<%= require('./plus-thick.svg') %>" class="filter-background-color new-item-button"/>
            <div class="todo-container">
                <h1>Misc</h1>
                <div class="todo-grid"></div>
            </div>
        </div>
    </div>

    <dialog class="new-to-do-modal">
        <form>
            <div>
                <label for="title-input">Title:</label>
                <input autofocus type="text" id="title-input">
                <label for="due-date">Due date:</label>
                <input type="date" id="due-date">
            </div>
            <div class="description-wrapper">
                        <label for="description">Description:</label>
                        <textarea id="description" cols="40" rows="10"></textarea>
            </div>    
            
            
            <fieldset>
                <legend>Priority:</legend>
              
                <input type="radio" id="high" name="priority" value="high"/>
                <label for="high">High</label><br />
              
                <input type="radio" id="medium" name="priority" value="medium" />
                <label for="medium">Medium</label><br />
              
                <input type="radio" id="low" name="priority" value="low" checked/>
                <label for="low">Low</label>
            </fieldset>
            
            <div>
                <button type="button">Cancel</button>
                <button type="button" class="submit-new-todo">Submit</button>
            </div>
        </form>
    </dialog>

    <dialog class="new-project-modal">
        <form>
            <h2>Create new project</h2>
            <div>
                <label for="project-title">Project title:</label>
                <input autofocus type="text" id="project-title">
            </div>
            <div>
                <button type="button">Cancel</button>
                <button type="button" class="submit-new-project">Submit</button>
            </div>
        </form>
    </dialog>

    <dialog class = "show-todo-info">
        <div class="show-todo-wrap">
            <div class="title-wrap">
                <div class="title"></div>
                <div class="due-date"></div>
            </div>
            <div class="description-wrap">
                <div class="description"></div>
            </div>
            <div class="priority-wrap">
                <div class="priority-label">Priority: </div>
                <div class="priority"></div>
            </div>
        </div>
    </dialog>
      
</body>
</html>